* {margin: 0; padding: 0; font-family: 'Open Sans', serif}

h1#page_headline {font-size: 2em; color: var(--dark_grey); margin: 2rem 0 0 2.5%; left: 0; top: 0; position: absolute}

#user_section
{
    float: right;
    top: 0;
    width: 50%;
    padding: 1rem 0 1rem 0;
    margin: 1.5rem 2.5% 0 0;
}

/*Select-Box*/
select#user_select,
select#lang_select
{
    background-color: var(--white);
    float: right;
    color: var(--dark_grey);
    width: 15%;
    padding-left: 3%;
    height: 3rem;
    border: 2px solid var(--dark_grey);
    font-size: 1.2em;
}

select#user_select
{
    margin-left: 5%;
    width: 30%;
}

/*FIXME: Doesn't work*/
select#user_select::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background: var(--dark_grey);
}