#sidebar
{
    position: relative;
    width: 25%;
    height: 100vh;
    background-color: var(--prim2);
    float: left;
    transition: margin .5s ease-in-out;
    margin-left: -25%;
}

#btn_show {position: absolute; margin: 1.5rem 0 0 2.5%}
#btn_show i {color: var(--dark_grey); transition: color .2s ease; cursor: pointer;}
#btn_show:hover i {color: var(--light_green);}

#btn_home {position: absolute; margin: 2.4rem 0 0 7%;}
#btn_home i {color: var(--dark_grey); transition: color .2s ease; cursor: pointer;}
#btn_home i:hover {color: var(--light_blue);}

.sidebar_hidden {display: none;}

#sidebar #btn_close
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.8rem 3.5% 0 0;
    cursor: pointer;
}

#sidebar #btn_close i {color: var(--dark_grey); transition: color .2s ease;}

#sidebar #btn_close:hover i {color: var(--light_red);}

#sidebar h1
{
    text-align: center;
    color: var(--light_grey);
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid var(--prim0);
}

#sidebar #user_info {border-bottom: 1px solid var(--prim0);}

#sidebar #user_info p
{
    color: var(--white);
    font-size: 1.2rem;
    margin: 1rem 0 1rem 5%;
}

#sidebar #btn_statistics,
#sidebar #btn_settings {margin-left: 15%;}

#sidebar #btn_management,
#sidebar #btn_logout {margin-left: 10%;}

#sidebar #btn_admin {margin-top: 2rem;}

#sidebar #btn_user {margin: 2rem 0 1rem 0;}

#sidebar #footer
{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 1rem 0 1rem 0;
    border-top: 1px solid var(--prim0);
}

#sidebar #footer p,
#sidebar #footer h3 {color: var(--white);}

#sidebar #footer p {font-size: 0.7rem;}

#sidebar #footer h3 {font-weight: 600; font-size: 0.8rem;}

#status_color {color: var(--light_green);}
#role_color {color: var(--light_red);}